@media screen and (max-width:600px){


.carousel-item img {

    height:600px;
}
}

@media screen and (max-width: 600px){
.banner-text {
    width: 70%;
}
}
@media screen and (max-width:600px){


.carousel-item h2{
    width: 60px;
    height: 30px;

    
}
.banner-text {file:///C:/Users/u/Desktop/pet%20love%20website/images/2.jpg
    width: 75%;
   
}
}
@media screen and (max-width:800px){
.toast{
    height:250px;
    width: 200px;
    top:0;

}

.toast-header h2{
   font-size: 13px;
   

}
.toast-body p{
   font-size:10px;
   

}

}

@media screen and (max-width:600px){

.col-md-6{
    width:100%;
    float: left;
}    
.info-part h2{
    font-size:50px;
    color: red;
     
}
.info-part h4{
    font-size: 40px;
    
  
}

.info-part p{
    font-size: 25px; 
}
.btn-info{
    width: 60%;
    background-color: green;
}
}
@media screen and (min-width:500px){
.box-1{

    float: left;
   color: red;
}
.o1-heading{
    font-size: 20px;
}

}
@media screen(max-width:768px){
.container{
   


}
}


