@media screen and (max-width:576px){
.carousel-item img {

    height:500px;
}
.blank-part{
    bottom:0px;
}
.banner-part{
    height: 500px;
}
.banner-text {
    width: 70%;
}
.toast{
    height:250px;
    width: 200px;
    top:0;

}

.toast-header h2{
   font-size: 13px;
  
   

}
.toast-body p{
   font-size:10px;
   

}


.box-1{
   float: left;
   color: red;
   width: 10%;
   display: block;
}
.o1-heading{
    font-size: 20px;
}

.info-part h2{
    font-size:30px;
    color:;
     
}
.info-part h4{
    font-size:25px;  
 
}

.info-part p{
    font-size:px; 
}
.btn-info{
    width: 60%;
    background-color:;
}
}

@media screen and (max-width:992px){

button.navbar-toggler {
    display: none;
}
.collapse:not(.show) {
    display: block;
}
.navbar-nav{
  display:block;
  list-style-type: none;
}
.nav-item{
  float: left;

}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    padding: 12px 7px;
}
form.d-flex {
  float: right;
    width: 25%;
    height: 35px;
}





}

